rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /services/{document=**} {
      allow read: if true;
      allow write: if true;
    }
    // Other rules for other collections can go here
  }
}