body {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background: linear-gradient(180deg, #fcfcfc 0%, #f2f4f5 100%);
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

@font-face {
  font-family: "LibraFranklin-Black";
  src: local("LibraFranklin Black"),
    url("./assets/cooper-black.TTF") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.libra-franklin {
  font-family: "LibraFranklin-Black", sans-serif;
  font-weight: 900;
}

:root {
  --plumb-blue: #3742ac;
  --sky-blue: #4da8da;
  --charcoal-grey: #2e2e2e;
  --slate-grey: #d9dde8;
  --white: #ffffff;
  --copper: #c1784a;
}
